.body
{
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;

    display: flex;

    margin: 0;

    color: #003333;
    background-color: #ccffff;

    justify-content: center;
}

.container
{
    position: absolute;
    top: 15%;

    display: flex;

    width: 50%;
    min-width: 400px;
    max-width: 650px;
    min-height: 2000px;

    flex-flow: column;
    align-items: center;
}

.avatar
{
    width: 100px;
    margin: 0 0 50px 0;

    border-radius: 100px;
}

.title
{
    font-size: 25px;
}


.text
{
    margin: 0 0 15px 0;

    text-align: justify;
}

.text-centered
{
    padding: 25px 0 0 0;

    text-align: center;
}


.about
{
    width: 100%;
    
    margin: 0;
}

.reading-list
{
    width: 100%;
    margin: 0 0 50px 0;
}

.reading-list__content-item
{
    text-decoration: none;
    
    color: #003333;
}

.reading-list__item
{
    transition: opacity .2s ease-out;
    text-decoration: none;

    opacity: .75;
    color: #003333;
}


.subtitle
{
    text-align: center;
}

.text,
.reading-list__item
{
    font-size: 14pt;
    line-height: 1.5;
}

.reading-list__item:hover
{
    opacity: 1;
}

.contact
{
    display: flex;
    
    flex-flow: column;
    align-items: center;
}

.socials
{
    display: flex;
    
    width: 150px;
    margin: 0 0 50px 0;
    
    justify-content: space-between;
}

.socials__img
{
    width: 20px;
}
